---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}
    

    
<!-- 包裹 ClustrMaps 的容器 -->
<div id="clustrmaps-container" style="width: 300px; height: 150px; margin: 0 auto; overflow: hidden; text-align: center;">
  <!-- 动态脚本加载 -->
<script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=8SwR08WZbioiUW8E8oUvkbYbql4odT8G5ORh8MwdDi4&cl=ffffff&w=a"></script>
  <!-- 静态图片作为备用方案 -->
  <noscript>
    
  </noscript>
</div>


    
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
